{
  "openapi" : "3.0.0",
  "info" : {
    "title" : "Qredit Node & QAE API",
    "description" : "This is a API documentation for **the Qredit Blockhain** built with Swagger UI to make testing a breeze. \n\nThe **Community SSL Public API** used as test host is provided from **[qredit.io](https://www.qredit.io/)**.\n",
    "version" : "2.4.15-oas3"
  },
  "servers" : [ {
    "url" : "https://qredit.cloud/"
  }, {
    "url" : "https://qae.qredit.cloud/api"
  } ],
  "tags" : [ {
    "name" : "Account",
    "description" : "Operations for Accounts"
  }, {
    "name" : "Block",
    "description" : "Operations for Blocks"
  }, {
    "name" : "Delegate",
    "description" : "Operations for Delegates"
  }, {
    "name" : "Loader",
    "description" : "Operations for Loaders"
  }, {
    "name" : "MultiSignature",
    "description" : "Operations for Multi-Signatures"
  }, {
    "name" : "Peer",
    "description" : "Operations for Peers"
  }, {
    "name" : "Signature",
    "description" : "Operations for Signatures"
  }, {
    "name" : "Transaction",
    "description" : "Operations for Transactions"
  }, {
    "name" : "Transport",
    "description" : "Operations for Transports"
  }, {
    "name" : "QAE",
    "description" : "Operations for Smart Contracts (Please select server qae.qredit.cloud/api)"
  } ],
  "paths" : {
    "/tokens" : {
      "get" : {
        "tags" : [ "QAE" ],
        "summary" : "List Tokens",
        "description" : "Get list of Tokens\n",
        "responses" : {
          "200" : {
            "description" : "An array of tokens",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Token"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/token/{token}" : {
      "get" : {
        "tags" : [ "QAE" ],
        "summary" : "Get token info",
        "parameters" : [ {
          "name" : "token",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Token information",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Token"
                }
              }
            }
          },
          "400" : {
            "description" : "Token not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/addresses" : {
      "get" : {
        "tags" : [ "QAE" ],
        "summary" : "List Addresses",
        "description" : "Get list of Tokens\n",
        "responses" : {
          "200" : {
            "description" : "An array of addresses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Address"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/address/{address}" : {
      "get" : {
        "tags" : [ "QAE" ],
        "summary" : "Get address info",
        "parameters" : [ {
          "name" : "address",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Address information",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Address"
                }
              }
            }
          },
          "400" : {
            "description" : "Token not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/addressesByTokenId/{tokenid}" : {
      "get" : {
        "tags" : [ "QAE" ],
        "summary" : "Get all addresses for a tokenId",
        "parameters" : [ {
          "name" : "tokenid",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Address information",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Address"
                }
              }
            }
          },
          "400" : {
            "description" : "Token not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/balance/{tokenid}/{address}" : {
      "get" : {
        "tags" : [ "QAE" ],
        "summary" : "Get token balance by address and tokenid",
        "parameters" : [ {
          "name" : "tokenid",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "address",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Balance information",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "400" : {
            "description" : "Not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/transactions" : {
      "get" : {
        "tags" : [ "QAE" ],
        "summary" : "List Transations",
        "description" : "Get list of Transactions\n",
        "responses" : {
          "200" : {
            "description" : "An array of transactions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Transaction"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/transaction/{txid}" : {
      "get" : {
        "tags" : [ "QAE" ],
        "summary" : "Get transaction info",
        "parameters" : [ {
          "name" : "txid",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Transaction information",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Transaction"
                }
              }
            }
          },
          "400" : {
            "description" : "Token not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/transactions/{tokenid}" : {
      "get" : {
        "tags" : [ "QAE" ],
        "summary" : "List Transactions for a TokenID",
        "description" : "Get list of Transactions\n",
        "parameters" : [ {
          "name" : "tokenid",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "An array of transactions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Transaction"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/transactions/{tokenid}/{address}" : {
      "get" : {
        "tags" : [ "QAE" ],
        "summary" : "List Transactions for a TokenID & Address",
        "description" : "Get list of Transactions\n",
        "parameters" : [ {
          "name" : "tokenid",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "address",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "An array of transactions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Transaction"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tokensByOwner/{address}" : {
      "get" : {
        "tags" : [ "QAE" ],
        "summary" : "Get tokens owned by address",
        "parameters" : [ {
          "name" : "address",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "An array of tokens",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Token"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Token not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/accounts/getBalance" : {
      "get" : {
        "tags" : [ "Account" ],
        "summary" : "Get the balance of an account",
        "operationId" : "accounts.getBalance",
        "parameters" : [ {
          "name" : "nethash",
          "in" : "header",
          "description" : "A valid qredit-node nethash.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 255,
            "type" : "string",
            "default" : "5e67037fd290ba7ab378e84a591d251c46eb9770eb134983771fd602233bf193"
          }
        }, {
          "name" : "version",
          "in" : "header",
          "description" : "A valid qredit-node version.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 11,
            "type" : "string",
            "default" : "2.4.15"
          }
        }, {
          "name" : "port",
          "in" : "header",
          "description" : "A valid server port.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 65535,
            "minLength" : 1,
            "type" : "integer",
            "default" : 4103
          }
        }, {
          "name" : "address",
          "in" : "query",
          "description" : "A valid Qredit Address.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AccountsGetBalanceResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/accounts/getPublickey" : {
      "get" : {
        "tags" : [ "Account" ],
        "summary" : "Get the public key of an account",
        "operationId" : "accounts.getPublickey",
        "parameters" : [ {
          "name" : "nethash",
          "in" : "header",
          "description" : "A valid qredit-node nethash.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 255,
            "type" : "string",
            "default" : "5e67037fd290ba7ab378e84a591d251c46eb9770eb134983771fd602233bf193"
          }
        }, {
          "name" : "version",
          "in" : "header",
          "description" : "A valid qredit-node version.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 11,
            "type" : "string",
            "default" : "2.4.15"
          }
        }, {
          "name" : "port",
          "in" : "header",
          "description" : "A valid server port.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 65535,
            "minLength" : 1,
            "type" : "integer",
            "default" : 4103
          }
        }, {
          "name" : "address",
          "in" : "query",
          "description" : "A valid Qredit Address.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AccountsGetPublickeyResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/accounts/delegates/fee" : {
      "get" : {
        "tags" : [ "Account" ],
        "summary" : "Get the delegate fee of an account",
        "operationId" : "accounts.getDelegatesFee",
        "parameters" : [ {
          "name" : "nethash",
          "in" : "header",
          "description" : "A valid qredit-node nethash.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 255,
            "type" : "string",
            "default" : "5e67037fd290ba7ab378e84a591d251c46eb9770eb134983771fd602233bf193"
          }
        }, {
          "name" : "version",
          "in" : "header",
          "description" : "A valid qredit-node version.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 11,
            "type" : "string",
            "default" : "2.4.15"
          }
        }, {
          "name" : "port",
          "in" : "header",
          "description" : "A valid server port.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 65535,
            "minLength" : 1,
            "type" : "integer",
            "default" : 4103
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AccountsGetDelegatesFeeResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/accounts/delegates" : {
      "get" : {
        "tags" : [ "Account" ],
        "summary" : "Get the delegates of an account",
        "operationId" : "accounts.getDelegates",
        "parameters" : [ {
          "name" : "nethash",
          "in" : "header",
          "description" : "A valid qredit-node nethash.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 255,
            "type" : "string",
            "default" : "5e67037fd290ba7ab378e84a591d251c46eb9770eb134983771fd602233bf193"
          }
        }, {
          "name" : "version",
          "in" : "header",
          "description" : "A valid qredit-node version.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 11,
            "type" : "string",
            "default" : "2.4.15"
          }
        }, {
          "name" : "port",
          "in" : "header",
          "description" : "A valid server port.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 65535,
            "minLength" : 1,
            "type" : "integer",
            "default" : 4103
          }
        }, {
          "name" : "address",
          "in" : "query",
          "description" : "A valid Qredit Address.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "orderBy",
          "in" : "query",
          "description" : "A string that specifies the column by which to sort the records.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "An unsigned integer that specifies the maximum number of records.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "An unsigned integer that specified the number of records to skip.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AccountsGetDelegatesResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/accounts" : {
      "get" : {
        "tags" : [ "Account" ],
        "summary" : "Returns account information of an address",
        "operationId" : "accounts.getAccount",
        "parameters" : [ {
          "name" : "nethash",
          "in" : "header",
          "description" : "A valid qredit-node nethash.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 255,
            "type" : "string",
            "default" : "5e67037fd290ba7ab378e84a591d251c46eb9770eb134983771fd602233bf193"
          }
        }, {
          "name" : "version",
          "in" : "header",
          "description" : "A valid qredit-node version.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 11,
            "type" : "string",
            "default" : "2.4.15"
          }
        }, {
          "name" : "port",
          "in" : "header",
          "description" : "A valid server port.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 65535,
            "minLength" : 1,
            "type" : "integer",
            "default" : 4103
          }
        }, {
          "name" : "address",
          "in" : "query",
          "description" : "A valid Qredit Address.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AccountsGetAccountResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/accounts/top" : {
      "get" : {
        "tags" : [ "Account" ],
        "summary" : "Get a list of top accounts",
        "operationId" : "accounts.top",
        "parameters" : [ {
          "name" : "nethash",
          "in" : "header",
          "description" : "A valid qredit-node nethash.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 255,
            "type" : "string",
            "default" : "5e67037fd290ba7ab378e84a591d251c46eb9770eb134983771fd602233bf193"
          }
        }, {
          "name" : "version",
          "in" : "header",
          "description" : "A valid qredit-node version.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 11,
            "type" : "string",
            "default" : "2.4.15"
          }
        }, {
          "name" : "port",
          "in" : "header",
          "description" : "A valid server port.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 65535,
            "minLength" : 1,
            "type" : "integer",
            "default" : 4103
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "An unsigned integer that specifies the maximum number of records.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "An unsigned integer that specified the number of records to skip.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AccountsTopResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/blocks/get" : {
      "get" : {
        "tags" : [ "Block" ],
        "summary" : "Get block by id",
        "operationId" : "blocks.getBlock",
        "parameters" : [ {
          "name" : "nethash",
          "in" : "header",
          "description" : "A valid qredit-node nethash.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 255,
            "type" : "string",
            "default" : "5e67037fd290ba7ab378e84a591d251c46eb9770eb134983771fd602233bf193"
          }
        }, {
          "name" : "version",
          "in" : "header",
          "description" : "A valid qredit-node version.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 11,
            "type" : "string",
            "default" : "2.4.15"
          }
        }, {
          "name" : "port",
          "in" : "header",
          "description" : "A valid server port.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 65535,
            "minLength" : 1,
            "type" : "integer",
            "default" : 4103
          }
        }, {
          "name" : "id",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BlocksGetBlockResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/blocks" : {
      "get" : {
        "tags" : [ "Block" ],
        "summary" : "Get all blocks",
        "operationId" : "blocks.getBlocks",
        "parameters" : [ {
          "name" : "nethash",
          "in" : "header",
          "description" : "A valid qredit-node nethash.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 255,
            "type" : "string",
            "default" : "5e67037fd290ba7ab378e84a591d251c46eb9770eb134983771fd602233bf193"
          }
        }, {
          "name" : "version",
          "in" : "header",
          "description" : "A valid qredit-node version.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 11,
            "type" : "string",
            "default" : "2.4.15"
          }
        }, {
          "name" : "port",
          "in" : "header",
          "description" : "A valid server port.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 65535,
            "minLength" : 1,
            "type" : "integer",
            "default" : 4103
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "An unsigned integer that specifies the maximum number of records.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "orderBy",
          "in" : "query",
          "description" : "A string that specifies the column by which to sort the records.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "An unsigned integer that specified the number of records to skip.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "generatorPublicKey",
          "in" : "query",
          "description" : "A valid Qredit Public Key.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "totalAmount",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "totalFee",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "reward",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "previousBlock",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "height",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BlocksGetBlocksResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/blocks/getEpoch" : {
      "get" : {
        "tags" : [ "Block" ],
        "summary" : "Get the blockchain epoch",
        "operationId" : "blocks.getEpoch",
        "parameters" : [ {
          "name" : "nethash",
          "in" : "header",
          "description" : "A valid qredit-node nethash.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 255,
            "type" : "string",
            "default" : "5e67037fd290ba7ab378e84a591d251c46eb9770eb134983771fd602233bf193"
          }
        }, {
          "name" : "version",
          "in" : "header",
          "description" : "A valid qredit-node version.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 11,
            "type" : "string",
            "default" : "2.4.15"
          }
        }, {
          "name" : "port",
          "in" : "header",
          "description" : "A valid server port.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 65535,
            "minLength" : 1,
            "type" : "integer",
            "default" : 4103
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BlocksGetEpochResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/blocks/getHeight" : {
      "get" : {
        "tags" : [ "Block" ],
        "summary" : "Get the blockchain height",
        "operationId" : "blocks.getHeight",
        "parameters" : [ {
          "name" : "nethash",
          "in" : "header",
          "description" : "A valid qredit-node nethash.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 255,
            "type" : "string",
            "default" : "5e67037fd290ba7ab378e84a591d251c46eb9770eb134983771fd602233bf193"
          }
        }, {
          "name" : "version",
          "in" : "header",
          "description" : "A valid qredit-node version.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 11,
            "type" : "string",
            "default" : "2.4.15"
          }
        }, {
          "name" : "port",
          "in" : "header",
          "description" : "A valid server port.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 65535,
            "minLength" : 1,
            "type" : "integer",
            "default" : 4103
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BlocksGetHeightResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/blocks/getNethash" : {
      "get" : {
        "tags" : [ "Block" ],
        "summary" : "Get the blockchain nethash",
        "operationId" : "blocks.getNethash",
        "parameters" : [ {
          "name" : "nethash",
          "in" : "header",
          "description" : "A valid qredit-node nethash.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 255,
            "type" : "string",
            "default" : "5e67037fd290ba7ab378e84a591d251c46eb9770eb134983771fd602233bf193"
          }
        }, {
          "name" : "version",
          "in" : "header",
          "description" : "A valid qredit-node version.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 11,
            "type" : "string",
            "default" : "2.4.15"
          }
        }, {
          "name" : "port",
          "in" : "header",
          "description" : "A valid server port.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 65535,
            "minLength" : 1,
            "type" : "integer",
            "default" : 4103
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BlocksGetNethashResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/blocks/getFee" : {
      "get" : {
        "tags" : [ "Block" ],
        "summary" : "Get the transaction fee for sending \"normal\" transactions",
        "operationId" : "blocks.getFee",
        "parameters" : [ {
          "name" : "nethash",
          "in" : "header",
          "description" : "A valid qredit-node nethash.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 255,
            "type" : "string",
            "default" : "5e67037fd290ba7ab378e84a591d251c46eb9770eb134983771fd602233bf193"
          }
        }, {
          "name" : "version",
          "in" : "header",
          "description" : "A valid qredit-node version.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 11,
            "type" : "string",
            "default" : "2.4.15"
          }
        }, {
          "name" : "port",
          "in" : "header",
          "description" : "A valid server port.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 65535,
            "minLength" : 1,
            "type" : "integer",
            "default" : 4103
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BlocksGetFeeResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/blocks/getFees" : {
      "get" : {
        "tags" : [ "Block" ],
        "summary" : "Get the network fees",
        "operationId" : "blocks.getFees",
        "parameters" : [ {
          "name" : "nethash",
          "in" : "header",
          "description" : "A valid qredit-node nethash.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 255,
            "type" : "string",
            "default" : "5e67037fd290ba7ab378e84a591d251c46eb9770eb134983771fd602233bf193"
          }
        }, {
          "name" : "version",
          "in" : "header",
          "description" : "A valid qredit-node version.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 11,
            "type" : "string",
            "default" : "2.4.15"
          }
        }, {
          "name" : "port",
          "in" : "header",
          "description" : "A valid server port.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 65535,
            "minLength" : 1,
            "type" : "integer",
            "default" : 4103
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BlocksGetFeesResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/blocks/getMilestone" : {
      "get" : {
        "tags" : [ "Block" ],
        "summary" : "Get the blockchain milestone",
        "operationId" : "blocks.getMilestone",
        "parameters" : [ {
          "name" : "nethash",
          "in" : "header",
          "description" : "A valid qredit-node nethash.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 255,
            "type" : "string",
            "default" : "5e67037fd290ba7ab378e84a591d251c46eb9770eb134983771fd602233bf193"
          }
        }, {
          "name" : "version",
          "in" : "header",
          "description" : "A valid qredit-node version.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 11,
            "type" : "string",
            "default" : "2.4.15"
          }
        }, {
          "name" : "port",
          "in" : "header",
          "description" : "A valid server port.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 65535,
            "minLength" : 1,
            "type" : "integer",
            "default" : 4103
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BlocksGetMilestoneResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/blocks/getReward" : {
      "get" : {
        "tags" : [ "Block" ],
        "summary" : "Get the blockchain reward",
        "operationId" : "blocks.getReward",
        "parameters" : [ {
          "name" : "nethash",
          "in" : "header",
          "description" : "A valid qredit-node nethash.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 255,
            "type" : "string",
            "default" : "5e67037fd290ba7ab378e84a591d251c46eb9770eb134983771fd602233bf193"
          }
        }, {
          "name" : "version",
          "in" : "header",
          "description" : "A valid qredit-node version.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 11,
            "type" : "string",
            "default" : "2.4.15"
          }
        }, {
          "name" : "port",
          "in" : "header",
          "description" : "A valid server port.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 65535,
            "minLength" : 1,
            "type" : "integer",
            "default" : 4103
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BlocksGetRewardResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/blocks/getSupply" : {
      "get" : {
        "tags" : [ "Block" ],
        "summary" : "Get the blockchain supply",
        "operationId" : "blocks.getSupply",
        "parameters" : [ {
          "name" : "nethash",
          "in" : "header",
          "description" : "A valid qredit-node nethash.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 255,
            "type" : "string",
            "default" : "5e67037fd290ba7ab378e84a591d251c46eb9770eb134983771fd602233bf193"
          }
        }, {
          "name" : "version",
          "in" : "header",
          "description" : "A valid qredit-node version.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 11,
            "type" : "string",
            "default" : "2.4.15"
          }
        }, {
          "name" : "port",
          "in" : "header",
          "description" : "A valid server port.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 65535,
            "minLength" : 1,
            "type" : "integer",
            "default" : 4103
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BlocksGetSupplyResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/blocks/getStatus" : {
      "get" : {
        "tags" : [ "Block" ],
        "summary" : "Get the blockchain status",
        "operationId" : "blocks.getStatus",
        "parameters" : [ {
          "name" : "nethash",
          "in" : "header",
          "description" : "A valid qredit-node nethash.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 255,
            "type" : "string",
            "default" : "5e67037fd290ba7ab378e84a591d251c46eb9770eb134983771fd602233bf193"
          }
        }, {
          "name" : "version",
          "in" : "header",
          "description" : "A valid qredit-node version.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 11,
            "type" : "string",
            "default" : "2.4.15"
          }
        }, {
          "name" : "port",
          "in" : "header",
          "description" : "A valid server port.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 65535,
            "minLength" : 1,
            "type" : "integer",
            "default" : 4103
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BlocksGetStatusResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/delegates/count" : {
      "get" : {
        "tags" : [ "Delegate" ],
        "summary" : "Get the count of delegates",
        "operationId" : "delegates.count",
        "parameters" : [ {
          "name" : "nethash",
          "in" : "header",
          "description" : "A valid qredit-node nethash.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 255,
            "type" : "string",
            "default" : "5e67037fd290ba7ab378e84a591d251c46eb9770eb134983771fd602233bf193"
          }
        }, {
          "name" : "version",
          "in" : "header",
          "description" : "A valid qredit-node version.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 11,
            "type" : "string",
            "default" : "2.4.15"
          }
        }, {
          "name" : "port",
          "in" : "header",
          "description" : "A valid server port.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 65535,
            "minLength" : 1,
            "type" : "integer",
            "default" : 4103
          }
        }, {
          "name" : "address",
          "in" : "query",
          "description" : "A valid Qredit Address.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DelegatesCountResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/delegates/search" : {
      "get" : {
        "tags" : [ "Delegate" ],
        "summary" : "Search for specific delegates",
        "operationId" : "delegates.search",
        "parameters" : [ {
          "name" : "nethash",
          "in" : "header",
          "description" : "A valid qredit-node nethash.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 255,
            "type" : "string",
            "default" : "5e67037fd290ba7ab378e84a591d251c46eb9770eb134983771fd602233bf193"
          }
        }, {
          "name" : "version",
          "in" : "header",
          "description" : "A valid qredit-node version.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 11,
            "type" : "string",
            "default" : "2.4.15"
          }
        }, {
          "name" : "port",
          "in" : "header",
          "description" : "A valid server port.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 65535,
            "minLength" : 1,
            "type" : "integer",
            "default" : 4103
          }
        }, {
          "name" : "q",
          "in" : "query",
          "description" : "A search query.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "An unsigned integer that specifies the maximum number of records.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DelegatesSearchResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/delegates/voters" : {
      "get" : {
        "tags" : [ "Delegate" ],
        "summary" : "Get a list of voters for a delegate",
        "operationId" : "delegates.getVoters",
        "parameters" : [ {
          "name" : "nethash",
          "in" : "header",
          "description" : "A valid qredit-node nethash.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 255,
            "type" : "string",
            "default" : "5e67037fd290ba7ab378e84a591d251c46eb9770eb134983771fd602233bf193"
          }
        }, {
          "name" : "version",
          "in" : "header",
          "description" : "A valid qredit-node version.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 11,
            "type" : "string",
            "default" : "2.4.15"
          }
        }, {
          "name" : "port",
          "in" : "header",
          "description" : "A valid server port.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 65535,
            "minLength" : 1,
            "type" : "integer",
            "default" : 4103
          }
        }, {
          "name" : "publicKey",
          "in" : "query",
          "description" : "A valid Qredit Public Key.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DelegatesGetVotersResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/delegates/get" : {
      "get" : {
        "tags" : [ "Delegate" ],
        "summary" : "Get a single delegate",
        "operationId" : "delegates.getDelegate",
        "parameters" : [ {
          "name" : "nethash",
          "in" : "header",
          "description" : "A valid qredit-node nethash.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 255,
            "type" : "string",
            "default" : "5e67037fd290ba7ab378e84a591d251c46eb9770eb134983771fd602233bf193"
          }
        }, {
          "name" : "version",
          "in" : "header",
          "description" : "A valid qredit-node version.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 11,
            "type" : "string",
            "default" : "2.4.15"
          }
        }, {
          "name" : "port",
          "in" : "header",
          "description" : "A valid server port.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 65535,
            "minLength" : 1,
            "type" : "integer",
            "default" : 4103
          }
        }, {
          "name" : "publicKey",
          "in" : "query",
          "description" : "A valid Qredit Public Key.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "username",
          "in" : "query",
          "description" : "A valid Qredit Delegate username.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DelegatesGetDelegateResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/delegates" : {
      "get" : {
        "tags" : [ "Delegate" ],
        "summary" : "Get all delegates",
        "operationId" : "delegates.getDelegates",
        "parameters" : [ {
          "name" : "nethash",
          "in" : "header",
          "description" : "A valid qredit-node nethash.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 255,
            "type" : "string",
            "default" : "5e67037fd290ba7ab378e84a591d251c46eb9770eb134983771fd602233bf193"
          }
        }, {
          "name" : "version",
          "in" : "header",
          "description" : "A valid qredit-node version.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 11,
            "type" : "string",
            "default" : "2.4.15"
          }
        }, {
          "name" : "port",
          "in" : "header",
          "description" : "A valid server port.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 65535,
            "minLength" : 1,
            "type" : "integer",
            "default" : 4103
          }
        }, {
          "name" : "orderBy",
          "in" : "query",
          "description" : "A string that specifies the column by which to sort the records.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "An unsigned integer that specifies the maximum number of records.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "An unsigned integer that specified the number of records to skip.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DelegatesGetDelegatesResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/delegates/fee" : {
      "get" : {
        "tags" : [ "Delegate" ],
        "summary" : "Get the delegate fee",
        "operationId" : "delegates.getFee",
        "parameters" : [ {
          "name" : "nethash",
          "in" : "header",
          "description" : "A valid qredit-node nethash.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 255,
            "type" : "string",
            "default" : "5e67037fd290ba7ab378e84a591d251c46eb9770eb134983771fd602233bf193"
          }
        }, {
          "name" : "version",
          "in" : "header",
          "description" : "A valid qredit-node version.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 11,
            "type" : "string",
            "default" : "2.4.15"
          }
        }, {
          "name" : "port",
          "in" : "header",
          "description" : "A valid server port.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 65535,
            "minLength" : 1,
            "type" : "integer",
            "default" : 4103
          }
        }, {
          "name" : "address",
          "in" : "query",
          "description" : "A valid Qredit Address.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DelegatesGetFeeResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/delegates/forging/getForgedByAccount" : {
      "get" : {
        "tags" : [ "Delegate" ],
        "summary" : "Get the amount of Qredits forged by an account",
        "operationId" : "delegates.getForgedByAccount",
        "parameters" : [ {
          "name" : "nethash",
          "in" : "header",
          "description" : "A valid qredit-node nethash.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 255,
            "type" : "string",
            "default" : "5e67037fd290ba7ab378e84a591d251c46eb9770eb134983771fd602233bf193"
          }
        }, {
          "name" : "version",
          "in" : "header",
          "description" : "A valid qredit-node version.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 11,
            "type" : "string",
            "default" : "2.4.15"
          }
        }, {
          "name" : "port",
          "in" : "header",
          "description" : "A valid server port.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 65535,
            "minLength" : 1,
            "type" : "integer",
            "default" : 4103
          }
        }, {
          "name" : "generatorPublicKey",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DelegatesGetForgedByAccountResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/delegates/getNextForgers" : {
      "get" : {
        "tags" : [ "Delegate" ],
        "summary" : "Get the next forger",
        "operationId" : "delegates.getNextForgers",
        "parameters" : [ {
          "name" : "nethash",
          "in" : "header",
          "description" : "A valid qredit-node nethash.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 255,
            "type" : "string",
            "default" : "5e67037fd290ba7ab378e84a591d251c46eb9770eb134983771fd602233bf193"
          }
        }, {
          "name" : "version",
          "in" : "header",
          "description" : "A valid qredit-node version.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 11,
            "type" : "string",
            "default" : "2.4.15"
          }
        }, {
          "name" : "port",
          "in" : "header",
          "description" : "A valid server port.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 65535,
            "minLength" : 1,
            "type" : "integer",
            "default" : 4103
          }
        }, {
          "name" : "address",
          "in" : "query",
          "description" : "A valid Qredit Address.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DelegatesGetNextForgersResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/loader/status" : {
      "get" : {
        "tags" : [ "Loader" ],
        "summary" : "Get the blockchain status",
        "operationId" : "loader.status",
        "parameters" : [ {
          "name" : "nethash",
          "in" : "header",
          "description" : "A valid qredit-node nethash.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 255,
            "type" : "string",
            "default" : "5e67037fd290ba7ab378e84a591d251c46eb9770eb134983771fd602233bf193"
          }
        }, {
          "name" : "version",
          "in" : "header",
          "description" : "A valid qredit-node version.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 11,
            "type" : "string",
            "default" : "2.4.15"
          }
        }, {
          "name" : "port",
          "in" : "header",
          "description" : "A valid server port.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 65535,
            "minLength" : 1,
            "type" : "integer",
            "default" : 4103
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LoaderStatusResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/loader/status/sync" : {
      "get" : {
        "tags" : [ "Loader" ],
        "summary" : "Get the synchronisation status of the client",
        "operationId" : "loader.sync",
        "parameters" : [ {
          "name" : "nethash",
          "in" : "header",
          "description" : "A valid qredit-node nethash.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 255,
            "type" : "string",
            "default" : "5e67037fd290ba7ab378e84a591d251c46eb9770eb134983771fd602233bf193"
          }
        }, {
          "name" : "version",
          "in" : "header",
          "description" : "A valid qredit-node version.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 11,
            "type" : "string",
            "default" : "2.4.15"
          }
        }, {
          "name" : "port",
          "in" : "header",
          "description" : "A valid server port.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 65535,
            "minLength" : 1,
            "type" : "integer",
            "default" : 4103
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LoaderSyncResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/loader/autoconfigure" : {
      "get" : {
        "tags" : [ "Loader" ],
        "summary" : "Auto-configure the client loader",
        "operationId" : "loader.autoconfigure",
        "parameters" : [ {
          "name" : "nethash",
          "in" : "header",
          "description" : "A valid qredit-node nethash.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 255,
            "type" : "string",
            "default" : "5e67037fd290ba7ab378e84a591d251c46eb9770eb134983771fd602233bf193"
          }
        }, {
          "name" : "version",
          "in" : "header",
          "description" : "A valid qredit-node version.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 11,
            "type" : "string",
            "default" : "2.4.15"
          }
        }, {
          "name" : "port",
          "in" : "header",
          "description" : "A valid server port.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 65535,
            "minLength" : 1,
            "type" : "integer",
            "default" : 4103
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LoaderAutoconfigureResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/multisignatures/pending" : {
      "get" : {
        "tags" : [ "MultiSignature" ],
        "summary" : "Get pending multi signature transactions",
        "operationId" : "multisignatures.pending",
        "parameters" : [ {
          "name" : "nethash",
          "in" : "header",
          "description" : "A valid qredit-node nethash.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 255,
            "type" : "string",
            "default" : "5e67037fd290ba7ab378e84a591d251c46eb9770eb134983771fd602233bf193"
          }
        }, {
          "name" : "version",
          "in" : "header",
          "description" : "A valid qredit-node version.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 11,
            "type" : "string",
            "default" : "2.4.15"
          }
        }, {
          "name" : "port",
          "in" : "header",
          "description" : "A valid server port.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 65535,
            "minLength" : 1,
            "type" : "integer",
            "default" : 4103
          }
        }, {
          "name" : "publicKey",
          "in" : "query",
          "description" : "A valid Qredit Public Key.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MultisignaturesPendingResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/multisignatures/accounts" : {
      "get" : {
        "tags" : [ "MultiSignature" ],
        "summary" : "Get a list of accounts",
        "operationId" : "multisignature.getAccounts",
        "parameters" : [ {
          "name" : "nethash",
          "in" : "header",
          "description" : "A valid qredit-node nethash.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 255,
            "type" : "string",
            "default" : "5e67037fd290ba7ab378e84a591d251c46eb9770eb134983771fd602233bf193"
          }
        }, {
          "name" : "version",
          "in" : "header",
          "description" : "A valid qredit-node version.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 11,
            "type" : "string",
            "default" : "2.4.15"
          }
        }, {
          "name" : "port",
          "in" : "header",
          "description" : "A valid server port.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 65535,
            "minLength" : 1,
            "type" : "integer",
            "default" : 4103
          }
        }, {
          "name" : "publicKey",
          "in" : "query",
          "description" : "A valid Qredit Public Key.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MultisignatureGetAccountsResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/peers/get" : {
      "get" : {
        "tags" : [ "Peer" ],
        "summary" : "Get a single peer",
        "operationId" : "peers.getPeer",
        "parameters" : [ {
          "name" : "nethash",
          "in" : "header",
          "description" : "A valid qredit-node nethash.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 255,
            "type" : "string",
            "default" : "5e67037fd290ba7ab378e84a591d251c46eb9770eb134983771fd602233bf193"
          }
        }, {
          "name" : "version",
          "in" : "header",
          "description" : "A valid qredit-node version.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 11,
            "type" : "string",
            "default" : "2.4.15"
          }
        }, {
          "name" : "ip",
          "in" : "query",
          "description" : "A valid server IP.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "port",
          "in" : "query",
          "description" : "A valid server Port.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PeersGetPeerResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/peers" : {
      "get" : {
        "tags" : [ "Peer" ],
        "summary" : "Get all peers",
        "operationId" : "peers.getPeers",
        "parameters" : [ {
          "name" : "nethash",
          "in" : "header",
          "description" : "A valid qredit-node nethash.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 255,
            "type" : "string",
            "default" : "5e67037fd290ba7ab378e84a591d251c46eb9770eb134983771fd602233bf193"
          }
        }, {
          "name" : "port",
          "in" : "header",
          "description" : "A valid server port.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 65535,
            "minLength" : 1,
            "type" : "integer",
            "default" : 4103
          }
        }, {
          "name" : "state",
          "in" : "query",
          "description" : "An unsigned integer that specifies the peer state.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "os",
          "in" : "query",
          "description" : "A valid operating system.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "version",
          "in" : "header",
          "description" : "A valid qredit-node version.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 11,
            "type" : "string",
            "default" : "2.4.15"
          }
        }, {
          "name" : "orderBy",
          "in" : "query",
          "description" : "A string that specifies the column by which to sort the records.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "An unsigned integer that specifies the maximum number of records.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "An unsigned integer that specified the number of records to skip.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PeersGetPeersResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/peers/version" : {
      "get" : {
        "tags" : [ "Peer" ],
        "summary" : "Get the peer version",
        "operationId" : "peers.version",
        "parameters" : [ {
          "name" : "nethash",
          "in" : "header",
          "description" : "A valid qredit-node nethash.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 255,
            "type" : "string",
            "default" : "5e67037fd290ba7ab378e84a591d251c46eb9770eb134983771fd602233bf193"
          }
        }, {
          "name" : "version",
          "in" : "header",
          "description" : "A valid qredit-node version.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 11,
            "type" : "string",
            "default" : "2.4.15"
          }
        }, {
          "name" : "port",
          "in" : "header",
          "description" : "A valid server port.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 65535,
            "minLength" : 1,
            "type" : "integer",
            "default" : 4103
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PeersVersionResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/signatures/fee" : {
      "get" : {
        "tags" : [ "Signature" ],
        "summary" : "Get the fee for a signature",
        "operationId" : "signatures.fee",
        "parameters" : [ {
          "name" : "nethash",
          "in" : "header",
          "description" : "A valid qredit-node nethash.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 255,
            "type" : "string",
            "default" : "5e67037fd290ba7ab378e84a591d251c46eb9770eb134983771fd602233bf193"
          }
        }, {
          "name" : "version",
          "in" : "header",
          "description" : "A valid qredit-node version.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 11,
            "type" : "string",
            "default" : "2.4.15"
          }
        }, {
          "name" : "port",
          "in" : "header",
          "description" : "A valid server port.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 65535,
            "minLength" : 1,
            "type" : "integer",
            "default" : 4103
          }
        }, {
          "name" : "address",
          "in" : "query",
          "description" : "A valid Qredit Address.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SignaturesFeeResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/transactions/get" : {
      "get" : {
        "tags" : [ "Transaction" ],
        "summary" : "Get a single transaction",
        "operationId" : "transactions.getTransaction",
        "parameters" : [ {
          "name" : "nethash",
          "in" : "header",
          "description" : "A valid qredit-node nethash.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 255,
            "type" : "string",
            "default" : "5e67037fd290ba7ab378e84a591d251c46eb9770eb134983771fd602233bf193"
          }
        }, {
          "name" : "version",
          "in" : "header",
          "description" : "A valid qredit-node version.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 11,
            "type" : "string",
            "default" : "2.4.15"
          }
        }, {
          "name" : "port",
          "in" : "header",
          "description" : "A valid server port.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 65535,
            "minLength" : 1,
            "type" : "integer",
            "default" : 4103
          }
        }, {
          "name" : "id",
          "in" : "query",
          "description" : "A valid transaction ID.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TransactionsGetTransactionResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/transactions" : {
      "get" : {
        "tags" : [ "Transaction" ],
        "summary" : "Get all transactions",
        "operationId" : "transactions.getTransactions",
        "parameters" : [ {
          "name" : "nethash",
          "in" : "header",
          "description" : "A valid qredit-node nethash.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 255,
            "type" : "string",
            "default" : "5e67037fd290ba7ab378e84a591d251c46eb9770eb134983771fd602233bf193"
          }
        }, {
          "name" : "version",
          "in" : "header",
          "description" : "A valid qredit-node version.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 11,
            "type" : "string",
            "default" : "2.4.15"
          }
        }, {
          "name" : "port",
          "in" : "header",
          "description" : "A valid server port.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 65535,
            "minLength" : 1,
            "type" : "integer",
            "default" : 4103
          }
        }, {
          "name" : "blockId",
          "in" : "query",
          "description" : "An unsigned integer that specifies the block ID.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "An unsigned integer that specifies the maximum number of records.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "An unsigned integer that specifies the transaction type.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "orderBy",
          "in" : "query",
          "description" : "A string that specifies the column by which to sort the records.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "An unsigned integer that specified the number of records to skip.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "senderPublicKey",
          "in" : "query",
          "description" : "A valid Qredit Public Key.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "vendorField",
          "in" : "query",
          "description" : "A string that specifies the SmartBridge used.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "ownerPublicKey",
          "in" : "query",
          "description" : "A valid Qredit Address.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "ownerAddress",
          "in" : "query",
          "description" : "A valid Qredit Address.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "senderId",
          "in" : "query",
          "description" : "A valid Qredit Address.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "recipientId",
          "in" : "query",
          "description" : "A valid Qredit Address.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "amount",
          "in" : "query",
          "description" : "An unsigned integer that specifies the transaction amount.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "fee",
          "in" : "query",
          "description" : "An unsigned integer that specifies the transaction fee.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TransactionsGetTransactionsResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/transactions/unconfirmed/get" : {
      "get" : {
        "tags" : [ "Transaction" ],
        "summary" : "Get a single unconfirmed transaction",
        "operationId" : "transactions.getUnconfirmedTransaction",
        "parameters" : [ {
          "name" : "nethash",
          "in" : "header",
          "description" : "A valid qredit-node nethash.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 255,
            "type" : "string",
            "default" : "5e67037fd290ba7ab378e84a591d251c46eb9770eb134983771fd602233bf193"
          }
        }, {
          "name" : "version",
          "in" : "header",
          "description" : "A valid qredit-node version.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 11,
            "type" : "string",
            "default" : "2.4.15"
          }
        }, {
          "name" : "port",
          "in" : "header",
          "description" : "A valid server port.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 65535,
            "minLength" : 1,
            "type" : "integer",
            "default" : 4103
          }
        }, {
          "name" : "id",
          "in" : "query",
          "description" : "A valid unconfirmed transaction ID.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TransactionsGetUnconfirmedTransactionResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/transactions/unconfirmed" : {
      "get" : {
        "tags" : [ "Transaction" ],
        "summary" : "Get all unconfirmed transactions",
        "operationId" : "transactions.getUnconfirmedTransactions",
        "parameters" : [ {
          "name" : "nethash",
          "in" : "header",
          "description" : "A valid qredit-node nethash.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 255,
            "type" : "string",
            "default" : "5e67037fd290ba7ab378e84a591d251c46eb9770eb134983771fd602233bf193"
          }
        }, {
          "name" : "version",
          "in" : "header",
          "description" : "A valid qredit-node version.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 11,
            "type" : "string",
            "default" : "2.4.15"
          }
        }, {
          "name" : "port",
          "in" : "header",
          "description" : "A valid server port.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 65535,
[...]
